user show page

First Name: <%= @user.first_name %>
Last Name: <%= @user.last_name %>
Company Name: <%= @user.company_name %>

<% if @orders.any? %>
  <div class="pending-order-list">
    <%= render @orders %>
  </div>
<% end %>

<% if @comp_orders.any? %>
  <div class="completed-order-list">
    <%= render partial: 'orders/order', collection: @comp_orders, as: :order %>
  </div>
<% else %>
  No completed orders yet!
<% end %>
