<div class="order-id-<%= order.id %>">
  User: <%= order.user.full_name %>
  Restaurant: <%= order.restaurant.company_name %>
  <%= link_to "Order ID: ##{order.id}", order %>
  Order Status: <%= order.status.name %>
  <br />

  <%= render partial: 'carts/cart', locals: { cart: order.cart } %>

  <% unless order.status.name == 'Pending' %>
    <div class="order-form-move-left">
      <%= form_for (order), url: { controller: 'orders', action: 'update' } do |f| %>
        <%= f.hidden_field :sequence, value: "#{order.status.sequence}" %>
        <%= f.hidden_field :new_sequence, value: "#{order.status.sequence - 1}" %>
        <div class='actions'>
          <%= f.submit 'Move Left' %>
        </div>
      <% end %>
    </div>
  <% end %>
  <% unless order.status.name == 'Complete' %>
    <div class="order-for-move-right">
      <%= form_for (order), url: { controller: 'orders', action: 'update' } do |f| %>
        <%= f.hidden_field :sequence, value: "#{order.status.sequence}" %>
        <%= f.hidden_field :new_sequence, value: "#{order.status.sequence + 1}" %>
        <div class='actions'>
          <%= f.submit 'Move Right' %>
        </div>
      <% end %>
    </div>
  <% end %>


</div>
