order show page

Order ID: <%= @order.id %>
Customer: <%= @order.user.full_name %>
Restaurant: <%= @order.restaurant.company_name %>
Order Status: <%= @order.order_status %>

<h2>Order Details:</h2>
<%= render @cart %>
