sample show page

<div class="small-10 small-centered columns">
  <div class="row">
    <h1><%= @restaurant.restaurantdetail.name %></h1>
    Phone: <%= @restaurant.restaurantdetail.phone %>
    Website: <%= @restaurant.restaurantdetail.website_url %>
    Address:
    <%= @restaurant.restaurantdetail.address_one %>
    <% if @restaurant.restaurantdetail.address_two %>
    <%= @restaurant.restaurantdetail.address_two %>
    <% end %>
    <%= @restaurant.restaurantdetail.city %>, <%= @restaurant.restaurantdetail.state %> <%= @restaurant.restaurantdetail.zip_code %>
    <br>
    <br>
    Categories:
    <% @restaurant.categories.each do |category| %>
      <% unless category.name == "Restaurant" %>
        <%= category.name %>
      <% end %>
    <% end %>
    <% @restaurant.restaurantdetail.description if @restaurant.restaurantdetail.description %>
  </div>
</div>

Pending Orders
<div class="pending-order-column">
  <% if @pend_orders.any? %>
    <%= render partial: 'orders/order', collection: @pend_orders, as: :order %>
  <% else %>
    No pending orders!
  <% end %>
</div>

Confirmed Orders
<div class="confirmed-order-column">
  <% if @confirm_orders.any? %>
    <%= render partial: 'orders/order', collection: @confirm_orders, as: :order %>
  <% else %>
    No confirmed orders!
  <% end %>
</div>

Delivery Orders
<div class="deliver-order-column">
  <% if @deliver_orders.any? %>
    <%= render partial: 'orders/order', collection: @deliver_orders, as: :order %>
  <% else %>
    No delivery orders!
  <% end %>
</div>

Completed Orders:
<div class="complete-order-column">
  <% if @comp_orders.any? %>
    <%= render partial: 'orders/order', collection: @comp_orders, as: :order %>
  <% else %>
    No completed orders yet!
  <% end %>
</div>
