sample show page

<div class="small-10 small-centered columns">
  <div class="row">
    <h1><%= @restaurant.restaurantdetail.name %></h1>
    Phone: <%= @restaurant.restaurantdetail.phone %>
    Website: <%= @restaurant.restaurantdetail.website_url %>
    Address:
    <%= @restaurant.restaurantdetail.address_one %>
    <% if @restaurant.restaurantdetail.address_two %>
    <%= @restaurant.restaurantdetail.address_two %>
    <% end %>
    <%= @restaurant.restaurantdetail.city %>, <%= @restaurant.restaurantdetail.state %> <%= @restaurant.restaurantdetail.zip_code %>
    <br>
    <br>
    Categories:
    <% @restaurant.categories.each do |category| %>
      <% unless category.name == "Restaurant" %>
        <%= category.name %>
      <% end %>
    <% end %>
    <% @restaurant.restaurantdetail.description if @restaurant.restaurantdetail.description %>
  </div>
</div>
