restaurant show page

<h1><%= @restaurant.restaurantdetail.name %></h1>
Phone: <%= @restaurant.restaurantdetail.phone %>
Website: <%= @restaurant.restaurantdetail.website_url %>
Address:
<%= @restaurant.restaurantdetail.address_one %>
<% if @restaurant.restaurantdetail.address_two %>
<%= @restaurant.restaurantdetail.address_two %>
<% end %>
<%= @restaurant.restaurantdetail.city %>, <%= @restaurant.restaurantdetail.state %> <%= @restaurant.restaurantdetail.zip_code %>
<br>
<br>
Categories:
<% @restaurant.categories.each do |category| %>
  <% unless category.name == "Restaurant" %>
    <%= category.name %>
  <% end %>
<% end %>
<br>
<br>
<% @restaurant.restaurantdetail.description if @restaurant.restaurantdetail.description %>
<h2>Menu</h2>
<% if user_signed_in? %>
  <%= form_for(@cart) do |f| %>
    <% @cartitems.each do |cartitem| %>
      <%= f.fields_for :cartitems, cartitem, include_id: true do |ff| %>
        <div class="item-<%= cartitem.item.id %>">
          <%= ff.label :quantity, "#{cartitem.item.name} - #{cartitem.item.price}" %>
          <%= ff.text_field :quantity %>
          <%= ff.hidden_field :item_id, value: "#{cartitem.item.id}" %>
          <%= ff.hidden_field :cart_id, value: "#{@cart.id}" %>
          <% if cartitem.id %>
            <%= ff.hidden_field :id, value: "#{cartitem.id}" %>
          <% end %>
          <br />
          <%= cartitem.item.description %>
        </div>
      <% end %>
    <% end %>
    <div class='actions'>
      <%= f.submit 'Add to Cart' %>
    </div>
  <% end %>
  <br>
  <hr>
  <br>
  <div class="cart">
    <h2>Cart</h2>
    <% unless @cart.cartitems.empty? %>
      <% @cart.cartitems.each do |ci| %>
        <%= ci.pretty_print %>
        <br>
      <% end %>
      Total: <%= @cart.find_total %>
    <% end %>
  </div>
<% else %>
  <% @restaurant.menusections.each do |section| %>
    <% unless section.name.blank? %>
      <%= section.name %>
      <br>
    <% end %>
    <%= render partial: 'item', collection: section.items, as: :item %>
  <% end %>
<% end %>
