restaurant show page

First Name: <%= @restaurant.first_name %>
Last Name: <%= @restaurant.last_name %>
Company Name: <%= @restaurant.restaurantdetail.name %>
Phone: <%= @restaurant.restaurantdetail.phone %>
Website: <%= @restaurant.restaurantdetail.website_url %>
Address:
<%= @restaurant.restaurantdetail.address_one %>
<% if @restaurant.restaurantdetail.address_two %>
<%= @restaurant.restaurantdetail.address_two %>
<% end %>
<%= @restaurant.restaurantdetail.city %>, <%= @restaurant.restaurantdetail.state %> <%= @restaurant.restaurantdetail.zip_code %>
<br>
<br>
Categories:
<% @restaurant.categories.each do |category| %>
  <% unless category.name == "Restaurant" %>
    <%= category.name %>
  <% end %>
<% end %>
<br>
<br>
<% @restaurant.restaurantdetail.description if @restaurant.restaurantdetail.description %>
Menu
<% if user_signed_in? %>
  <%= form_for(@cart) do |f| %>
    <% @cartitems.each do |cartitem| %>
      <%= f.fields_for :cartitems, cartitem do |ff| %>
        <div class="item-<%= cartitem.item.id %>">
          <%= ff.label :quantity, "#{cartitem.item.name} - #{cartitem.item.description} - #{cartitem.item.price}" %>
          <%= ff.text_field :quantity %>
        </div>
      <% end %>
    <% end %>
    <div class='actions'>
      <%= f.submit 'Add to Cart' %>
    </div>
  <% end %>
<% else %>
  <% @restaurant.menusections.each do |section| %>
    <% unless section.name.blank? %>
      <%= section.name %>
      <br>
    <% end %>
    <%= render partial: 'item', collection: section.items, as: :item %>
  <% end %>
<% end %>
