<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>PinPoint</title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <div class="top-bar">
      <div class="top-bar-title">
        <span data-responsive-toggle="responsive-menu" data-hide-for="medium">
          <span class="menu-icon dark" data-toggle></span>
        </span>
        <h5><%= link_to image_tag('pinpoint-new-logo.png'), root_path %></h5>
      </div>
      <div id="responsive-menu">
        <div class="top-bar-right">
          <ul class="dropdown menu" data-dropdown-menu>
            <% if user_signed_in? || restaurant_signed_in? %>
                <% if user_signed_in? %>
                  <li><%= link_to "Welcome, #{current_user.first_name}!", user_path(current_user) %></li>
                  <% if @cart && @cart.status == 'pending' %>
                    <li id="cart">
                      <a href="#">Cart</a>
                      <ul class="menu">
                        <% unless @cart.cartitems.empty? %>
                          <%= render @cart %>
                          <%= render partial: 'orders/form',
                            locals: { order: @order } %>
                        <% else %>
                          No items in cart.
                        <% end %>
                      </ul>
                    </li>
                  <% end %>
                <% elsif restaurant_signed_in? %>
                  <li><%= link_to "Welcome, #{current_restaurant.first_name}!", restaurant_path(current_restaurant) %></li>
                <% end %>
            <% end %>
            <li id="account">
              <a href="#">Account</a>
              <ul class="menu vertical">
                <% if user_signed_in? || restaurant_signed_in? %>
                  <% if user_signed_in? %>
                    <li><%= link_to 'Sign Out', destroy_user_session_path, method: :delete %></li>
                  <% elsif restaurant_signed_in? %>
                    <li><%= link_to 'Sign Out', destroy_restaurant_session_path, method: :delete %></li>
                  <% end %>
                <% else %>
                  <li><%= link_to 'Sign In', new_user_session_path %></li>
                  <li><%= link_to 'Sign Up', new_user_registration_path %></li>
                  <li><%= link_to 'Restaurant Sign In', new_restaurant_session_path %></li>
                <% end %>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <div class="messages">
      <% unless flash.empty? %>
        <% flash.each do |type, message| %>
          <div class="warning callout flash" data-closable>
            <%= message %>
            <button class="close-button" aria-label="Dismiss alert" type="button" data-close>
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
        <% end %>
      <% else %>
        <div class="spacer">
        </div>
      <% end %>
    </div>

    <div class="app-row">
      <%= yield %>
    </div>

  </body>
</html>
